name: Deploy
description: Deploys news articles with metadata to S3

inputs:
  environment:
    required: true
    description: "Name of the environment being deployed to (e.g. dev)"
  bucket_url:
    required: true
    description: "URL of the S3 bucket (as defined by Cloudfront behaviour)"
  distribution_id:
    required: true
    description: "ID of the Cloudfront distribution"

runs:
  using: "composite"
  steps:
    - name: Generate metadata
      shell: bash
      run: |
        output=$(echo "[]" | jq '.')

        for dir in news/*; do
          metadata=$(jq '.' "$dir/metadata.json")

          metadata=$(echo "$metadata" | jq --arg url "${{ inputs.bucket_url }}/$dir/banner.svg" '. + {bannerUrl: $url}')
          metadata=$(echo "$metadata" | jq --arg url "${{ inputs.bucket_url }}/$dir/smallBanner.svg" '. + {smallBannerUrl: $url}')
          metadata=$(echo "$metadata" | jq --arg url "${{ inputs.bucket_url }}/$dir/smallImage.svg" '. + {smallImageUrl: $url}')
          metadata=$(echo "$metadata" | jq --arg url "${{ inputs.bucket_url }}/$dir/details.md" '. + {detailsUrl: $url}')

          output=$(echo "$output" | jq --argjson o "$metadata" '. += [$o]')
        done

        echo "$output" >metadata.json

    - name: TEST CORRECT
      shell: bash
      run: cat metadata.json

    # - name: Configure AWS credentials
    #   uses: aws-actions/configure-aws-credentials@v4
    #   with:
    #     role-to-assume: arn:aws:iam::${{ env.ACCOUNT }}:role/GitHub
    #     role-session-name: rolesession
    #     aws-region: ${{ env.REGION }}
    #
    # - name: Upload files to S3
    #   shell: bash
    #   run: |
    #     aws s3 sync --delete . s3://gofer-news-${{ inputs.environment }}/gofer-news
    #
    # - name: Invalidate Cache
    #   shell: bash
    #   run: |
    #     aws cloudfront create-invalidation --distribution-id ${{ inputs.distribution_id }} --paths "/gofer-news/*"
