name: 1. On PR merge to main

on:
  push:
    branches:
      - main
      - task/GOFER-3448-S3

jobs:
  deploy_to_dev:
    name: Deploy to dev
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    environment:
      name: dev
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Deploy to dev
        uses: ./.github/actions/deploy
        with:
          bucket_url: https://gofer-dev.oasys-software.com/gofer-news
          distribution_id: EF1S6RVBW1W9E
          account_id: 529952274877
          region: eu-west-1
          environment: dev

  deploy_to_dev_b2c:
    name: Deploy to dev-b2c
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    environment:
      name: dev-b2c
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Deploy to dev-b2c
        uses: ./.github/actions/deploy
        with:
          bucket_url: https://gofer-dev-b2c.oasys-software.com/gofer-news
          distribution_id: E1GZHHS42RI05E
          account_id: 529952274877
          region: eu-west-1
          environment: dev-b2c
