name: 1. On PR merge to main

on:
  push:
    branches:
      - main
      - task/GOFER-3448-S3

jobs:
  deploy_to_dev:
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Deploy to dev
        uses: ./.github/actions/deploy
        with:
          environment: dev
          bucket_url: https://gofer-dev.oasys-software.com/gofer-news
          distribution_id: xxxxxx

  # deploy_to_dev_b2c:
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v6
  #
  #     - name: Deploy to dev_b2c
  #       uses: ./.github/actions/deploy
  #       with:
  #         environment: dev_b2c
